@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
/* Custom Scrollbar biar makin gahar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #d9ff00; /* brandLime */
    border-radius: 10px;
}
@keyframes custom-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(217, 255, 0, 0.4);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(217, 255, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(217, 255, 0, 0);
    }
}

.animate-hover-pulse:hover {
    animation: custom-pulse 1.5s infinite;
}
